<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Buscar</h2>
		
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	
	  <%= form_for @search, :html => {:class => "search"} do |f| %>
      <p>
			  <%= f.label :id, "Protocolo" %>
        <%= f.select :id_eq, Work.all.collect { |c| [c.id, c.id] }, {:prompt => "Selecione"} %>
			</p>
			<p>
			  <%= f.label :cei, "CEI" %>
        <%= f.select :cei_eq, Work.all.collect { |c| [c.cei, c.id] }, {:prompt => "Selecione"} %>
			</p>
			<p>
			  <%= f.label :company_id, "Empresa" %>
        <%= f.select :company_id_eq, Company.all.collect { |c| [c.name, c.id] }, {:prompt => "Selecione"} %>
			</p>
      <p>
			  <%= f.label :name, "Obra" %>
        <%= f.select :name_eq, Work.all.collect { |c| [c.name, c.id] }, {:prompt => "Selecione"} %>
			</p>
			<p>
			  <%= f.label :responsible, "Responsável" %>
        <%= f.text_field :responsible_contains%>
			</p>
			<p>
			  <%= f.label :territorial, "Regional" %>
        <%= f.text_field :territorial_contains%>
			</p>
			<p>
			  <%= f.label :cost_center, "Centro de Custo" %>
        <%= f.text_field :cost_center_contains%>
			</p>
			<p>
			  <%= f.label :user_id, "Obras" %>
			  <%= f.select :user_id_eq, {"Minhas obras" => current_user.id}, {:prompt => "Selecione"} %>
			</p>
			<p>
			  <%= f.label :status, "Status" %>
			  <%= f.select :status_eq, {"Selecione" => "", "Aberto" => "Aberto", "Fechado" => "Fechado"} %>
			</p>
			<% if current_user.roles[0].name == "Administrador" %>
			  <p>
          <%= f.label :dwell, "Habite-se >=" %>
          <%= f.date_select :dwell_gteq, {:order => [:day, :month, :year], :include_blank => "true", :default => "nil"}, {:class => "data"} %>
        </p>
        <p>
          <%= f.label :dwell, "Habite-se <=" %>
          <%= f.date_select :dwell_lteq, {:order => [:day, :month, :year], :include_blank => "true", :default => "nil"}, {:class => "data"} %>
        </p>
			  <p>
  			  <%= f.label :status_dwell, "Status Habite-se" %>
  			  <%= f.select :status_dwell_eq, {"Selecione" => "", "Pendente" => "Pendente", "Entregue" => "Entregue"} %>
  			</p>
  			<p style="clear: both">
          <%= f.label :cnd, "CND >=" %>
          <%= f.date_select :cnd_gteq, {:order => [:day, :month, :year], :include_blank => "true", :default => "nil"}, {:class => "data"} %>
        </p>
        <p>
          <%= f.label :cnd, "CND <=" %>
          <%= f.date_select :cnd_lteq, {:order => [:day, :month, :year], :include_blank => "true", :default => "nil"}, {:class => "data"} %>
        </p>
  			<p>
  			  <%= f.label :status_dwell, "Status CND" %>
  			  <%= f.select :status_cnd_eq, {"Selecione" => "", "Pendente" => "Pendente", "Entregue" => "Entregue"} %>
  			</p>
			<% end %>
      <p class="submit">
        <%= f.submit "Pesquisar", :class => "submit small" %>
      </p>
    <% end %>

  </div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2><%= @page_plural %></h2>
		
		<ul>
			<li><a href="<%=new_work_path%>">Nova <%= @page %></a></li>
			<li><%= link_to 'Exportar para excel', works_url(:format => 'xls') %></li>
		</ul>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	
		<form action="" method="post">
		
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
			
				<thead>
					<tr>
					  <th style="width:1px"></th>
            <th>Entrada</th>
            <th>CEI</th>
            <th>Protocolo</th>
            <th>Obra</th>
            <th>Responsável</th>
            <th>Centro de Custo</th>
            <th>Empresa</th>
            <th>Regional</th>
            <th>Status</th>
            <th></th>
            <% if permitted_to? :edit, :works %>
              <th></th>
            <% end %>
            <% if permitted_to? :destroy, :works %>
              <th></th>
            <% end %>
          </tr>
				</thead>
				
				<tbody>
				  <% @works.each do |work| %>
				    <% if work.issue_date + 4.months > DateTime.now 
				      @cor = "green.png"
				    elsif work.issue_date + 4.months <= DateTime.now && work.issue_date + 5.months > DateTime.now
				      @cor = "yellow.png"
				    elsif work.issue_date + 5.months <= DateTime.now
				      @cor = "red.png"
				    end %>
          <tr>
            <td style="width:1px"></td>
            <td><%= image_tag(@cor) %></td>
            <th><%= work.cei %></th>
            <td><%= work.id %></td>
            <td><%= work.name %></td>
            <td><%= work.responsible %></td>
            <td><%= work.cost_center %></td>
            <td><%= work.company.name %></td>
            <td><%= work.territorial %></td>
            <td><%= work.status %></td>
            <td><%= link_to 'Visualizar', work %></td>
            <% if permitted_to? :edit, work %>
              <td><%= link_to 'Editar', edit_work_path(work) %></td>
            <% end %>
            <% if permitted_to? :destroy, work %>
              <td><%= link_to 'Excluir', work, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
            <% end %>
          </tr>
        <% end %>
				</tbody>
				
			</table>
		
  		<%= will_paginate @works, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;" %>
			
		</form>
		
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->